pip install badges
pip install ghost
pip install keyboard
pip install binascii
pip install subprocess
pip install transfer
pip install tty
pip install termios
pip install chdir
pip install fsmanip
pip install pyinstaller
